alliance/Car/Service References/ServicePhaeton1/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws.phaeton.kz/SearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws.phaeton.kz/SearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws.phaeton.kz/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchService_SearchArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchArticle" />
  </wsdl:message>
  <wsdl:message name="ISearchService_SearchArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchArticleResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_SearchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="ISearchService_SearchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchService">
    <wsdl:operation name="SearchArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/SearchArticle" message="tns:ISearchService_SearchArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/SearchArticleResponse" message="tns:ISearchService_SearchArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/SearchProduct" message="tns:ISearchService_SearchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/SearchProductResponse" message="tns:ISearchService_SearchProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchService" type="tns:ISearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchArticle">
      <soap:operation soapAction="http://tempuri.org/ISearchService/SearchArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap:operation soapAction="http://tempuri.org/ISearchService/SearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="BasicHttpBinding_ISearchService" binding="tns:BasicHttpBinding_ISearchService">
      <soap:address location="http://ws.phaeton.kz/SearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>