alliance/SearchService/Service References/ServicePhaeton/SearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws.phaeton.kz/SearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ws.phaeton.kz/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Classes" />
  <xs:element name="SearchArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q1:guid" />
        <xs:element minOccurs="0" name="Article" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Classes" minOccurs="0" name="SearchArticleResult" nillable="true" type="q2:SearchArticleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q3:guid" />
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Classes" minOccurs="0" name="SearchProductResult" nillable="true" type="q4:SearchProductResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>